.parallax {
  min-height: 70vh;
  background-image: url(./images/parallax.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.about-container {
  margin: 0 auto;
}

.introduction {
  margin: 1em auto;
  padding: 1rem 12rem;
  box-shadow: 0 0 2rem -0.5rem rgba(0, 0, 0, 0.6);
  max-width: 65rem;
  display: flex;
  height: 100%;
  justify-items: center;
  align-items: top;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.short-text {
  text-align: justify;
}
.me-image {
  border-radius: 50%;
  width: 300px;
}

.description {
  padding-bottom: 5px;
  flex: 1;
}

@media screen and (max-width: 960px) {
  .parallax h5 {
    font-size: 80px;
    padding: 20px 40px;
  }
}
