.contact-container{
display: flex;
width: 80%;
margin: 0 auto;
justify-content: space-evenly;
padding-bottom: 3rem;
flex-wrap: wrap;
}

.contact-card{margin: 20px auto;
}

.social-media-link{
padding: 15px;}

