.contact-container{display: flex;
width: 80%;
margin: 0 auto;
justify-content: space-evenly;
padding-bottom: 3rem;
}

.social-media-link{
border: 1px solid var(--secondary-color);
border-radius: 30% 10%;
padding: 15px;}

.social-media-link:hover{background-color: var(--secondary-color);
color:ivory;}