* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 250;
}

:root{
  --primary-color:#524F4F;
  --secondary-color:#75BBE7;
}


html,
body {
  height: 100%;
}

h2 {
  font-size: 30px;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  padding: 1rem 1rem;
  text-align: center;

}

p {
  line-height: 1.5;
}

a{text-decoration: none;
  color: var(--primary-color);}

  @media screen and (max-width: 1200px) {
    h2{
      font-size: 18px;
    }
    
    h5 {
      font-size: 80px;
    }
  }


@media screen and (max-width:900px){
  
  h2{
    font-size: 18px;
  }
  
  h5 {
    font-size: 20px;
  }
  p, li {
    font-size: 14px;
  }
  
}